@model TwoFAViewModel

@{
    ViewData["Title"] = "2F Authentication";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="PrimeBox2" style="margin-top:20px; max-width:95%; background-color:ghostwhite;">
        <div class="form-group row" style="background-color: #69a0f1; display: flex; justify-content: center;  align-items: center;" id="container">
            <h5 style="color:white; margin-left:15px;">Създаване на акаунт в мобилно у-во</h5>
            <button type="button" id="x" onclick="window.location.href='@Url.Action("Index", "Home")';">
                X
            </button>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-1">
                <div class="form-group">
                      @Html.LabelFor(model => model.Account, new { @class = "col-form-label strong" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Account, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-md-12" style="margin-top:5px;">
                        @Html.LabelFor(model => model.QrCodeSetupImageUrl, new { @class = "col-form-label strong" })
                        <img src=@Model.QrCodeSetupImageUrl alt="QRCode" width="250" height="250">
                    </div>
                    @Html.LabelFor(model => model.ManualEntryKey, new { @class = "col-form-label strong" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.ManualEntryKey, new { @class = "form-control" })
                    </div>
                    @Html.LabelFor(model => model.UserInputCode, new { @class = "col-form-label strong" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.UserInputCode, new { @class = "form-control", placeholder = "Въведете получения код", id = "mobNumberCode", name = "mobNumberCode" })
                        <span asp-validation-for="UserInputCode" class="text-danger"></span>
                    </div>

                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <label style="margin-top: 5px; font-size: large;">Помощна информация:</label><br>
                @*<iframe loading="lazy" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" src="@(Model.TwoFAExplainLink)" width="560" height="315" frameborder="0"></iframe>       //така се добавя видео от тубата*@
                <video src="@Url.Content("~/video/What_Is_Two-Factor_Authentication.mp4")" controls width="500" height="300" loop></video>
                <br>
                <label style="margin-top: 5px; font-size: large;">Мобилни приложения за двуфакторна автентикация:</label>
                <br>
                <a class="col-form-label" href="https://play.google.com/store/apps/details?id=com.authy.authy&hl=bg&gl=US" style="margin-top: 5px; color: #278dbc; font-size: large; transition: 0.4s;" target="_blank">Authy</a>,
                <a class="col-form-label" href="https://play.google.com/store/apps/details?id=com.azure.authenticator&hl=bg&gl=US" style="margin-top: 5px; color: #278dbc; font-size: large; transition: 0.4s;" target="_blank">Microsoft Authenticator</a>,
                <a class="col-form-label" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=bg&gl=US" style="margin-top: 5px; color: #278dbc; font-size: large; transition: 0.4s;" target="_blank">Google Authenticator</a>,
                <a class="col-form-label" href="https://play.google.com/store/apps/details?id=com.lastpass.authenticator&hl=bg&gl=US" style="margin-top: 5px; color: #278dbc; font-size: large; transition: 0.4s;" target="_blank">LastPass Authenticator</a>


            </div>
        </div>
        <div class="row" style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:10px;">
            <button type="button" class="button save" id="send">Активиране</button>
        </div>
        <input type="submit" class="btn button-invisible" value="REALSENDSEND" id="realsend" />
    </div>
</form>

@section Scripts{
    <script src="~/js/2FAcheck.js" charset="utf-8"></script>
    @*<script type="text/javascript">
        var blink = document.getElementById('infotext');
        setInterval(function () {                                          //блинк ефект за даден елемент
            blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
        }, 1000);
    </script>*@
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
