@model TaskNotesListServiceModel

@{
    ViewData["Title"] = "Коментари";
}

@*<div class="PrimeBox2" style="margin-top:20px; background-color:ghostwhite;">
        <div class="form-group row" style="display: flex; justify-content: center;  align-items: center;">
            <h5 style="margin-left:15px;">@Model.TaskName</h5>
        </div>
        @foreach (var note in Model.Notes)
        {
            <div style="background-color: #69a0f1;">
                <p style="color: white; text-align: left; margin-left:15px;">
                    @note.NoteDate.ToString("dd.MM.yyyy hh:MM")
                    <span style="float:right; margin-right:15px;">
                        #@note.Id
                    </span>
                </p>
            </div>
            <div class="row border-info">
                <div class="col-md-2 border-right">
                    <h5>@note.EmployeeName</h5>
                </div>
                <div class="col-md-10">@note.Text</div>
            </div>
        }
    </div>
    <form method="post" asp-controller="Notes" asp-action="CreateNewNote" asp-route-taskId="@Model.Id">
    </form>*@

<div id="contentcomm" style="padding-top:5px;">
    <div class="form-group row" style="display: flex; justify-content: center;  align-items: center;">
        <h5 style="margin-left:15px;">@Model.TaskName</h5>
    </div>
    <ol id="posts-list" class="@(Model.Notes.Count > 0 ? "has-comments" : "")">
        <li class="no-comments">Добавете първия коментар.</li>
        @foreach (var comment in Model.Notes)
        {

            <li  style="background-color:whitesmoke;">
                <article id="comment_ @{comment.Id.ToString();}" class="hentry">

                    <footer class="post-info" >
                        <abbr class="published">
                            @comment.NoteDate.ToString("dd.MM.yyyy hh:MM")
                            <span style="float:right; margin-right:15px;">
                                #@comment.Id
                            </span>

                        </abbr>

                        <address class="vcard author">
                            От <a class="url fn" href="../Users/UserDetails">@comment.EmployeeName</a>
                        </address>
                    </footer>
                    <div class="entry-content" style="padding-left:15px; border-left: 1px solid #eee;">
                        <p>@comment.Text</p>
                    </div>
                </article>
            </li>

        }

    </ol>

</div>

<div style="padding-left:3%;">
    <div id="respond">
        <h3>Напиши коментар</h3>
        <form action="post_comment.php" method="post" id="commentform">

            <label for="comment" class="required">Вашето съобщение</label>
            <textarea name="comment" id="comment" rows="5" tabindex="4" required="required"></textarea>

            @*<input name="submit" type="submit" value="Изпрати" />*@
            <button type="button" class="button save" id="send">Изпрати</button>
            <input type="submit" class="btn button-invisible" value="REALSENDSEND" id="realsend" />
        </form>

    </div>
</div>