@model TaskNotesListServiceModel

@{
    ViewData["Title"] = "Коментари";
}
@{var permisionType = User.Claims.Where(u => u.Type == "permissionType").Select(u => u.Value).FirstOrDefault();}

<div>
    <div id="modal-placeholder"></div>
    <div id="contentcomm" style="padding-top:5px;">
        <p id="taskIdNote" hidden>@Model.Id</p>
        <div class="form-group row" style="display: flex; justify-content: center;  align-items: center;">
            <h5 style="margin-left:15px;">@Model.TaskName</h5>
        </div>
        <ol id="posts-list" class="@(Model.Notes.Count > 0 ? "has-comments" : "")" style=" min-height: 435px; max-height: 436px; overflow:auto;">
            <li class="no-comments">Добавете първия коментар.</li>
            @foreach (var comment in Model.Notes)
            {

                <li style="background-color:whitesmoke;">
                    <article id="comment_ @{comment.Id.ToString();}" class="hentry">

                        <footer class="post-info">
                            <abbr class="published">
                                @comment.NoteDate.ToString("dd.MM.yyyy HH:mm")
                            </abbr>

                            <address class="vcard author">
                                @*<a class="url fn" href="../Users/UserDetails">@comment.EmployeeName</a>*@
                                @*<div class="row">*@
                                От <a class="url fn" href="#" style="cursor:pointer;" onclick="InfoUser(@comment.EmployeeId)">@comment.EmployeeName</a>
                                @*</div>*@
                                <div class="row">
                                    @*@if (comment.EmployeeId.ToString() == (User.Claims.Where(u => u.Type == "userId").Select(u => u.Value).FirstOrDefault()))
                                        {
                                            <a class="btn-link" href="#" style="cursor:pointer;" onclick="InfoUser(@comment.EmployeeId)">Изтриване</a>
                                            <a class="url fn" href="#" style="cursor:pointer;" onclick="InfoUser(@comment.EmployeeId)">Редакция</a>
                                        }*@
                                </div>
                            </address>
                        </footer>
                        <div class="entry-content" style="padding-left:15px; border-left: 1px solid #eee;">
                            <p>@comment.Text</p>
                            @if (comment.EmployeeId.ToString() == User.Claims.Where(u => u.Type == "userId").Select(u => u.Value).FirstOrDefault() || permisionType == SuperAdmin)
                            {
                                <div style="display: flex; justify-content: flex-end">
                                    <button class="btn-outline-danger" href="#" style="cursor:pointer; margin-right:5px;" onclick="DeleteNote(@comment.Id)" id="delete">Изтриване</button>
                                    <button class="btn-outline-primary" href="#" style="cursor:pointer; margin-right:5px;" onclick="EditNote(@comment.Id)" id="edit">Редакция</button>
                                </div>
                            }
                        </div>
                    </article>
                </li>

            }

        </ol>

    </div>
</div>
<div style="padding-left:3%;">
    <div id="respond">
        <h4>Напиши коментар</h4>
        <form action="post_comment.php" method="post" id="commentform">

            @*<label for="comment" class="required">Вашето съобщение</label>*@
            <textarea name="comment" id="comment" rows="4" tabindex="4" required="required"></textarea>

            @*<input name="submit" type="submit" value="Изпрати" />*@
            <button type="button" class="button save" id="send">Публикуване</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    const loc = window.location.href;
    const path = loc.substr(0, loc.lastIndexOf('/') + 1);
    let placeholderElement = $('#modal-placeholder');

    function EditNote(noteId) {
        let url = path + 'EditNote?noteId=' + noteId;
        $.get(url).done(function (data) {
            placeholderElement.html(data);
            placeholderElement.find('.modal').modal('show');
        });

    }

    function ModalAction() {
        placeholderElement.on('click', '[data-save="modal"]', function (event) {
            event.preventDefault();
            let form = $(this).parents('.modal').find('form');
            let actionUrl = form.attr('action');
            let dataToSend = form.serialize();

            $.post(actionUrl, dataToSend).done(function (data) {
                let newBody = $('.modal-body', data);
                placeholderElement.find('.modal-body').replaceWith(newBody);
                let isValid = newBody.find('[name="IsValid"]').val() === 'True';

                if (isValid) {
                    placeholderElement.find('.modal').modal('hide');
                    location.reload();
                }

            });
        });
    }

    function DeleteNote(noteId) {
        swal({
            title: "Потвърждение",
            text: "Сигурни ли сте, че искате да изтриете коментара?",
            icon: "warning",
            closeOnEsc: false,
            buttons: ["Отказ", "Изтриване!"],
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "Get",
                    url: '../Notes/DeleteNote',
                    data: {
                        noteId: noteId
                    },
                    success: function (data) {
                        if (data.success) {
                            $(document).ajaxStop(function () { location.reload(true); });
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>
@section Scripts{
    <script src="~/js/notes.js" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            ModalAction();
        });
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
