<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] - TaskManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />*@
    <link rel="stylesheet" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert.min.css" />
    <!-- Bootstrap CSS CDN -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">*@
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/css/style4.css">
    @*<link rel="stylesheet" href="~/css/notfound.css">*@
    <link rel="stylesheet" href="~/css/comments.css">

    <!-- checkbox styles -->
    <link rel="stylesheet" href="~/css/CheckBox.css">

    <!-- балонни съобщения -->
    <link rel="stylesheet" href="~/css/balloon.css">
    @*<link rel="stylesheet" href="https://unpkg.com/balloon-css/balloon.min.css">*@



    <!-- Font Awesome JS -->
    @*<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>*@
    <script src="~/js/solid.js"></script>
    <script src="~/js/fontawesome.js"></script>


    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="~/css/notifications.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="~/js/jquery.min331.js"></script>
    @*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>*@
    <script src="~/js/jquery-ui.min.js"></script>
    @*<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />*@
    <link href="~/css/jquery-ui.css" rel="Stylesheet" type="text/css" />




    @*<script src="~/js/notify.js"></script>*@

    <link href="~/css/latoja.datepicker.css" rel="stylesheet">
    <link href="~/css/nigran.datepicker.css" rel="stylesheet">
    <link href="~/css/submitbtn.css" rel="stylesheet">

    <link href="~/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/dist/js/select2.min.js"></script>

    @*<script src="https://cdn.amcharts.com/lib/4/core.js"></script>*@
    <!--<script src="~/js/core.js"></script>-->
    @*<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>*@
    <!--<script src="~/js/charts.js"></script>-->
    @*<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>*@
    <!--<script src="~/js/animated.js"></script>-->
    @*cookieconsent*@
    <link rel="stylesheet" type="text/css" href="~/build/cookieconsent.min.css" />
    <script src="~/build/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#eee"
                    },
                    "button": {
                        "background": "#2a67ac"
                    }
                },
                "theme": "edgeless",
                "position": "bottom-left",
                "content": {
                    "message": "Този сайт използва бисквитки, за да ви предостави най-добрата услуга.",
                    "dismiss": "Приемам!",
                    "link": "Научете повече",
                    "href": "https://bg.wikipedia.org/wiki/HTTP-%D0%B1%D0%B8%D1%81%D0%BA%D0%B2%D0%B8%D1%82%D0%BA%D0%B0"
                }
            })
        });
    </script>
    @*cookieconsent*@
    <link rel="shortcut icon" href="~/ico/favicon.ico">
    <link rel="icon" type="image/gif" href="animated_favicon1.gif">

</head>
<body>
    <header>
        <div class="row">
            <div class="container">

                <table align="left">
                    <tbody>
                        <tr>
                            <td>
                                <div id="bloc1">
                                    <img src="~/gif/logo.gif" alt="" width="90" height="100">
                                    @*<img src="~/png/gerb.png" alt="" width="100" height="90">*@
                                </div>
                            </td>
                            <td style="padding-left:10px;">
                                <div id="bloc2">
                                    <div class="logo-text">Мениджър задачи</div>
                                    <div class="logo-text-secondary">Министерство на електронното управление</div>
                                    <div class="logo-text-secondary">ИА "Инфраструктура на електронното управление"</div>
                                    @*<div class="logo-text-secondary">
                                            Държавна агенция "Електронно управление"
                                        </div>

                                        <div class="logo-text-secondary">архивен сайт</div>*@
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>
    </header>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            @*<div class="sidebar-header">
                    <h3>Мениджър задачи</h3>
                    <strong>МЗ</strong>
                </div>*@

            <ul class="list-unstyled components" style="padding-top:9em;">
                <li>
                    <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Активни задачи</a>
                </li>

                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-briefcase"></i>
                        Задачи
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li @(User.Claims.Any(u => u.Value == "Admin") ? "" : "hidden")>
                            <a asp-controller="Tasks" asp-action="CreateNewTask">Създаване на задача</a>
                        </li>
                        @*}*@
                        <li>
                            <a asp-controller="Tasks" asp-action="AssignerTasks">Наблюдавани задачи</a>
                        </li>
                        @*<li>
                                 <a asp-controller="Tasks" asp-action="CreatedTasks">Създадени задачи</a>
                            </li>*@
                        <li>
                            <a asp-controller="Tasks" asp-action="TasksList">Списък задачи</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-file-excel"></i>
                        Отчети
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-controller="Report" asp-action="PeriodReport">Организационен отчет</a>
                        </li>
                        <li>
                            <a asp-controller="Report" asp-action="SetPersonalPeriodDate">Лична справка</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-controller="Users" asp-action="UsersList">
                        <i class="fas fa-user"></i>
                        <span class="chatnotifications">Експерти</span>
                        <span title="Чакащи одобрение" class="notificationsMenu" id="notActiveCount" hidden></span>
                    </a>
                </li>

                <li @(User.Claims.Any(u => u.Value == "Admin") ? "" : "hidden")>
                    <a href="#optionsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-cog"></i>
                        <span class="chatnotifications">Структура</span>
                    </a>
                    <ul class="collapse list-unstyled" id="optionsSubmenu">
                        <li>
                            <a asp-controller="Structure" asp-action="DirectoratesList">Дирекции</a>
                        </li>
                        <li>
                            <a asp-controller="Structure" asp-action="DepartmentsList">Отдели</a>
                        </li>
                        <li>
                            <a asp-controller="Structure" asp-action="SectorsList">Сектори</a>
                        </li>
                        <li>
                            <a asp-controller="Structure" asp-action="JobTitlesList">Длъжности</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a asp-controller="Report" asp-action="PhonesAndEmails"><i class="fas fa-phone"></i>Тел. указател</a>
                </li>
                <li>
                    <a asp-controller="Users" asp-action="SecondAuthentication"><i class="fas fa-user-shield"></i> 2Ф Автентикация</a>
                </li>

                @if (User.Identities.Any(u => (u.Name.Contains("avukov") || u.Name.Contains("samso")) && u.Claims.Where(u => u.Type == "fullName").Select(u => u.Value).FirstOrDefault() == "Ангел Иванов Вуков"))
                {
                    <li>
                        <a href="#developerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-cog"></i>
                            <span class="chatnotifications">Разработчик</span>
                        </a>
                        <ul class="collapse list-unstyled" id="developerSubmenu">
                            <li>
                                <a asp-controller="Structure" asp-action="AddSystemAccount">Добавяне на системен акаунт</a>
                            </li>

                            <li>
                                <a asp-controller="Structure" asp-action="RemoveEmptySecretKey">Генериране на secretkey автоматично</a>
                            </li>
                            <li>
                                <a asp-controller="Structure" asp-action="RemoveEmptyEmails">Добавяне на email автоматично</a>
                            </li>
                            <li>
                                <a asp-controller="Structure" asp-action="AddUsersToSystemTasks">Добавяне към системни задачи на всички служители</a>
                            </li>
                        </ul>
                    </li>
                }
                @*<li @(User.Identities.Any(u => (u.Name.Contains("avukov") || u.Name.Contains("samso")) && u.Claims.Where(u => u.Type == "fullName").Select(u => u.Value).FirstOrDefault() == "Ангел Иванов Вуков") ? "" : "hidden")>
                        <a href="#developerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-cog"></i>
                            <span class="chatnotifications">Разработчик</span>
                        </a>
                        <ul class="collapse list-unstyled" id="developerSubmenu">
                            <li>
                                <a asp-controller="Structure" asp-action="RemoveEmptyEmails">Генериране на secretkey автоматично</a>
                            </li>
                            <li>
                                <a asp-controller="Structure" asp-action="RemoveEmptyEmails">Добавяне на email автоматично</a>
                            </li>
                            <li>
                                <a asp-controller="Structure" asp-action="AddUsersToSystemTasks">Добавяне към системни задачи на всички служители</a>
                            </li>
                        </ul>
                    </li>*@

            </ul>

        </nav>

        <!-- Page Content  -->

        <div id="content">

            @*<div class="logo-text-three" style="margin-left: 325px; margin-bottom: 10px;"> Сайт със структурата на ИА ИЕУ >>>  <a href="https://taskmanager.e-gov.bg" target="_blank" style="margin-left:5px; color: cornflowerblue; font-size: 18px;">
                    <span class="blinking"><u>https://taskmanager.e-gov.bg</u></span>
                </a>  сайта е достъпен свободно в интернет, не само в мрежата на ИА ИЕУ!
                            </div>*@
            <nav class="navbar navbar-expand-sm navbar-light bg-light marginbmobile" style="max-height:40px !important;">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #69a0f1;">
                        <i class="fas fa-align-left"></i>
                        @*<span>Toggle Sidebar</span>*@
                    </button>
                    <div class="tooltip-big-text" id="dominions" style="position: relative; left: 25%;" data-balloon-length="xlarge" aria-label="Смяната на сесия дава възможност да бъдат отчитани часове за друг(виртуален) потребител. Текушия/логнат потребител не наследява правата на виртуалния такъв! Всяко действие различно от отчитане на часове, връща сесията към текущия/логнат потребител." data-balloon-pos="up">
                    </div>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" style="color:black; font-size:larger;" asp-controller="Users" asp-action="EditUser" asp-route-userId="@(User.Claims.Where(u => u.Type == "userId").Select(u => u.Value).FirstOrDefault())">
                                    <i class=" fas fa-user-cog fa-lg"></i>
                                    <span id="userFN">@(User.Claims.Where(u => u.Type == "fullName").Select(u => u.Value).FirstOrDefault())</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            @*<div class="row">*@
            <div class="container widthmobile" style="max-width:100%;">

                <main role="main" class="pb-3">
                    @RenderBody()
                    @if (TempData["Success"] != null)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var data = $('#successMessage').text();
                                toastr.success(data, { timeOut: 4000 });
                                //notify.showSuccess(data);
                            });
                        </script>
                        <p class="alert alert-success" id="successMessage" hidden style="text-align:center; margin-top: 15px; margin-right:100px; margin-left:100px;">@TempData["Success"]</p>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var data = $('#errorMessage').text();
                                toastr.error(data, { timeOut: 6000 });
                                //notify.showError(data);
                            });
                        </script>

                        <p class="alert alert-danger" id="errorMessage" hidden style="text-align:center; margin-top: 15px; margin-right:100px; margin-left:100px;">@TempData["Error"]</p>
                    }
                </main>
            </div>
        </div>
        <footer class="border-top footer text-muted hideonmobile">
            <div class="container">
                &copy; 2021 - Приложение за планиране и отчитане на задачи
            </div>
        </footer>

    </div>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');

            });
            //$('#sidebar').height() = $('#content').height();
            const lochref = window.location.href;
            const locOrigin = window.location.origin;
            let path;
            if (lochref.toLowerCase().indexOf("taskmanager") > 0) {
                path = locOrigin + "\\TaskManager";
            }
            else {
                path = locOrigin;
            }

            let urlExist = path + "\\Users\\UserExistStatus";
            let urlNotActive = path + "\\Users\\GetNotActivatedUsers";

            $.getJSON(urlExist, { get_param: 'value' }, function (data) {
                //console.log(data);
                if (data.success) {
                    if (data.message.length > 0) {
                        if (data.message != "notfound") {
                            swal("Информация", data.message, "info");
                        }
                        else {
                            toastr.error("Съобщението не беше намерено!", { timeOut: 10000 });
                        }

                    }
                    $.getJSON(urlNotActive, { get_param: 'value' }, function (data) {
                        //console.log(data);
                        if (data.data.length > 0) {
                            $('#notActiveCount').removeAttr("hidden")
                            $('#notActiveCount').text(data.data.length);
                            $('#notActiveCountinner').removeAttr("hidden")
                            $('#notActiveCountinner').text(data.data.length);
                        }
                        else {
                            $('#notActiveCount').attr("hidden", true);
                            $('#notActiveCountinner').attr("hidden", true);
                        }
                    });
                }
            });
            for (let i = 0; i < 5; i++) {
                $('.blinking').fadeOut(500);
                $('.blinking').fadeIn(500);
            }
        });
        function InfoUser(userId) {
            event.preventDefault();
            //let urlUserInfo = window.location.origin + "..\\Users\\GetUserInfo\?userId=";
            var content = document.createElement('div');
            $.getJSON("..\\Users\\GetUserInfo\?userId=" + userId, { get_param: 'value' }, function (data) {

                content.innerHTML = '<div style = \'text-align:left;\'><div class="row"><div class="col-md-3">N:</div><div class="col-md-4"><label><strong>' + data.data.id + '</strong></label></div></div><div class="row"><div class="col-md-3">Име:</div><div class="col-md-9"><label><strong>' + data.data.fullName + '</strong></label></div></div><div class="row"><div class="col-md-3">Длъжност:</div><div class="col-md-9"><label><strong>' + data.data.jobTitleName + '</strong></label></div></div><div class="row"><div class="col-md-3">Email:</div><div class="col-md-9"><label><strong>' + (data.data.email ?? '<span style=\'color:red;\'>Няма информация</span>') + '</strong></label></div></div><div class="row"><div class="col-md-3">Роля:</div><div class="col-md-9"><label><strong>' + data.data.roleName + '</strong></label></div></div><div class="row"><div class="col-md-3">Телефон:</div><div class="col-md-9"><label><strong>' + (data.data.telephoneNumber ?? '<span style=\'color:red;\'>Няма информация</span>') + '</strong></label></div></div><div class="row"><div class="col-md-3">Мобилен:</div><div class="col-md-9"><label><strong>' + (data.data.mobileNumber ?? '<span style=\'color:red;\'>Няма информация</span>') + '</strong></label></div></div><div class="row"><div class="col-md-3">Дирекция:</div><div class="col-md-9"><label><strong>' + (data.data.directorateName ?? '<span style=\'color:red;\'>Няма информация</span>') + '</strong></label></div></div><div class="row"><div class="col-md-3">Отдел:</div><div class="col-md-9"><label><strong>' + (data.data.departmentName ?? '<span style=\'color:red;\'>Няма информация</span>') + '</strong></label></div></div><div class="row"><div class="col-md-3">Сектор:</div><div class="col-md-9"><label><strong>' + (data.data.sectorName ?? '<span style=\'color:red;\'>Няма информация</span>') + '</strong></label></div></div><div class="row"><div class="col-md-3">Статус:</div><div class="col-md-9"><label><strong>' + (data.data.status == "Деактивиран акаунт" ? '<span style=\'color:red;\'>Деактивиран акаунт</span>' : (data.data.status == "Активен акаунт" ? '<span style=\'color:green;\'>Активен акаунт</span>' : '<span style=\'color:lightgreen;\'>Чакащ одобрение</span>')) + '</strong></label></div></div></div>';

            });
            swal({
                content: content,
                icon: "info",
                buttons: [false, "Ok"]
            })
        }
            //(function (s, t, a, n) {
            //    s[t] || (s[t] = a, n = s[a] = function () { n.q.push(arguments) },
            //        n.q = [], n.v = 2, n.l = 1 * new Date)
            //})(window, "InstanaEumObject", "ineum");

            //ineum('reportingUrl', 'https://172.23.228.66:446/eum/');
            //ineum('key', 'euNKBPzsQ8uuu4ng4SfIGg');
            //ineum('trackSessions');

    </script>
    @*<script defer crossorigin="anonymous" src="https://172.23.228.66:446/eum/eum.min.js"></script>*@
</body>
</html>
