<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <title>@ViewData["Title"] - TaskMenager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert.min.css" />
    <!-- Bootstrap CSS CDN -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">*@
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/css/style4.css">
    <link rel="stylesheet" href="~/css/notfound.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    @*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="~/css/notifications.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>*@
    <script src="~/js/notify.js"></script>

</head>
<body>
    <header>
        <div class="row">
            <div class="container">

                <table align="left">
                    <tbody>
                        <tr>
                            <td>
                                <div id="bloc1">
                                    <img src="~/gif/logo.gif" alt="" width="74" height="90">
                                </div>
                            </td>
                            <td style="padding-left:10px;">
                                <div id="bloc2">
                                    <div class="logo-text">Република България</div>
                                    <div class="logo-text-secondary">Държавна агенция "Електронно управление"</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>
        @*<div class="row">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TaskMenager.Client</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>*@
    </header>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Мениджър задачи</h3>
                <strong>МЗ</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Начало</a>
                </li>

                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-briefcase"></i>
                        Задачи
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        @*@if (User.Claims.Any(u => u.Value == "Admin"))
                            {*@
                        <li @(User.Claims.Any(u => u.Value == "Admin") ? "" : "hidden")>
                            <a asp-controller="Tasks" asp-action="CreateNewTask">Създаване на задача</a>
                        </li>
                        @*}*@
                        <li>
                            <a asp-controller="Tasks" asp-action="AssignerTasks">Наблюдавани задачи</a>
                        </li>
                        <li>
                            <a asp-controller="Tasks" asp-action="CreatedTasks">Създадени задачи</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-file-excel"></i>
                        Отчети
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-controller="Report" asp-action="PeriodReport">Организационен</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="NotImplemented">Експертен</a>
                            @*<a href="/Home/NotImplemented">Експертен</a>*@
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="NotImplemented">Лична справка</a>
                            @*<a href="/Home/NotImplemented">Лична справка</a>*@
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#expertsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-user"></i>
                        Експерти
                    </a>
                    <ul class="collapse list-unstyled" id="expertsSubmenu">
                        <li>
                            <a asp-controller="Home" asp-action="NotImplemented">Списък</a>
                            @*<a href="/Home/NotImplemented">Списък</a>*@
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="NotImplemented">Телефонен указател</a>
                            @*<a href="/Home/NotImplemented">Телефонен указател</a>*@
                        </li>
                    </ul>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="NotImplemented">
                        <i class="fas fa-question"></i>
                        За приложението
                    </a>
                    @*<a href="/Home/NotImplemented">
                        <i class="fas fa-question"></i>
                        За приложението
                    </a>*@
                </li>
                <li>
                    <a asp-controller="Home" asp-action="NotImplemented">
                        <i class="fas fa-paper-plane"></i>
                        Контакти
                    </a>
                    @*<a href="/Home/NotImplemented">
                        <i class="fas fa-paper-plane"></i>
                        Контакти
                    </a>*@
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-sm navbar-light bg-light marginbmobile" style="max-height:40px !important;">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: #69a0f1;">
                        <i class="fas fa-align-left"></i>
                        @*<span>Toggle Sidebar</span>*@
                    </button>
                    @*<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>*@
                    <div id="notifications" style="position: relative; left: 20%;">
                        <div id="loadingBox" class="notification"><span>Зареждане …</span></div>
                        <div id="infoBox" class="notification"><span>Информация</span></div>
                        <div id="errorBox" class="notification"><span>Грешка</span></div>
                        <div id="successBox" class="notification"><span>Успех</span></div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" style="color:black; font-size:larger;" asp-controller="Home" asp-action="Index">
                                    <i class=" fas fa-user-cog fa-lg"></i>
                                    @(User.Claims.Where(u => u.Type == "fullName").Select(u => u.Value).FirstOrDefault())
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            @*<div>
                    <div class="menuspace">
                        <a style="position:absolute; left:40px; font-size:1.2em;" asp-controller="Home" asp-action="Index">@(User.Claims.Where(u => u.Type == "fullName").Select(u => u.Value).FirstOrDefault() + "  -  " + User.Identity.Name.Substring(User.Identity.Name.LastIndexOf('\\')+1))</a><br />


                        <a style="position:absolute; left:40px; font-size:1.2em;" asp-controller="Home" asp-action="Index">Начало</a><br />

                        @if (User.Claims.Any(u => u.Value == "Admin"))
                        {

                            <a style="position:absolute; left:40px; font-size:1.2em;" asp-controller="Tasks" asp-action="CreateNewTask">Създаване на задача</a><br />

                        }
                        @if (User.Claims.Any(c => c.Value == DataConstants.SuperAdmin))
                        {
                            <a style="position:absolute; left:40px; font-size:1.2em; color:red;" asp-area="" asp-controller="InsertDataFromFile" asp-action="SelectFileWithData">Импорт на данни</a><br />
                        }
                    </div>
                </div>*@
            <div class="container widthmobile" style="max-width:85%;">

                <main role="main" class="pb-3">
                    @RenderBody()
                    @if (TempData["Success"] != null)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var data = $('#successMessage').text();
                                notify.showSuccess(data);
                            });
                        </script>
                        <p class="alert alert-success" id="successMessage" hidden style="text-align:center; margin-top: 15px; margin-right:100px; margin-left:100px;">@TempData["Success"]</p>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var data = $('#errorMessage').text();
                                notify.showError(data);
                            });
                        </script>

                        <p class="alert alert-danger" id="errorMessage" hidden style="text-align:center; margin-top: 15px; margin-right:100px; margin-left:100px;">@TempData["Error"]</p>
                    }
                </main>

            </div>
        </div>
        <footer class="border-top footer text-muted hideonmobile">
            <div class="container">
                &copy; 2021 - Приложение за планиране и отчитане на задачи
            </div>
        </footer>

    </div>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            //$('#sidebar').height() = $('#content').height();
        });
    </script>

</body>
</html>
