<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskMenager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/css/notifications.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/notify.js"></script>
</head>
<body>
    <header>
        <div class="row">
            <div class="container">

                <table align="left">
                    <tbody>
                        <tr>
                            <td>
                                <div id="bloc1">
                                    <img src="~/gif/logo.gif" alt="" width="74" height="90">
                                </div>
                            </td>
                            <td style="padding-left:10px;">
                                <div id="bloc2">
                                    <div class="logo-text">Република България</div>
                                    <div class="logo-text-secondary">Държавна агенция "Електронно управление"</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <hr>
        @*<div class="row">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TaskMenager.Client</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>*@
    </header>


    <div class="row">
        <div>
            <div class="menuspace">
                <a style="position:absolute; left:40px; font-size:1.2em;" asp-controller="Home" asp-action="Index">@(User.Claims.Where(u => u.Type == "fullName").Select(u => u.Value).FirstOrDefault() + "  -  " + User.Identity.Name.Substring(User.Identity.Name.LastIndexOf('\\')+1))</a><br />


                <a style="position:absolute; left:40px; font-size:1.2em;" asp-controller="Home" asp-action="Index">Начало</a><br />

                @if (User.Claims.Any(u => u.Value == "Admin"))
                {

                    <a style="position:absolute; left:40px; font-size:1.2em;" asp-controller="Tasks" asp-action="CreateNewTask">Създаване на задача</a><br />

                }
                @if (User.Claims.Any(c => c.Value == DataConstants.SuperAdmin))
                {
                    <a style="position:absolute; left:40px; font-size:1.2em; color:red;" asp-area="" asp-controller="InsertDataFromFile" asp-action="SelectFileWithData">Импорт на данни</a><br />
                }
            </div>
        </div>
        <div class="container">
            <div>
                <main role="main" class="pb-3">
                    @*@if (TempData.ContainsKey(DataConstants.SuccessMessageKey))
                        {
                            <div class="alert alert-success">
                                @TempData[DataConstants.SuccessMessageKey]
                            </div>
                        }
                        @if (TempData.ContainsKey(DataConstants.ErrorMessageKey))
                        {
                            <div class="alert alert-danger">
                                @TempData[DataConstants.ErrorMessageKey]
                            </div>
                        }*@

                    @RenderBody()
                    @if (TempData["Success"] != null)
                    {
                        <p class="alert alert-success" id="successMessage" style="text-align:center; margin-top: 15px; margin-right:100px; margin-left:100px;">@TempData["Success"]</p>
                    }
                    @if (TempData["Error"] != null)
                    {
                        <p class="alert alert-danger" id="errorMessage" style="text-align:center; margin-top: 15px; margin-right:100px; margin-left:100px;">@TempData["Error"]</p>
                    }
                </main>
            </div>
            @*<div id="notifications">
                    <div id="loadingBox" class="notification"><span>Loading …</span></div>
                    <div id="infoBox" class="notification"><span>Info</span></div>
                    <div id="errorBox" class="notification"><span>Error</span></div>
                </div>*@
        </div>
        <div id="notifications">
            <div id="loadingBox" class="notification" style="position:absolute; right:20px;"><span>Loading …</span></div>
            <div id="infoBox" class="notification" style="position:absolute; right:20px;"><span>Info</span></div>
            <div id="errorBox" class="notification" style="position:absolute; right:20px;"><span>Error</span></div>
        </div>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ПРИЛОЖЕНИЕ ЗА ПЛАНИРАНЕ И ОТЧИТАНЕ НА ЗАДАЧИ
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
