@model IEnumerable<TaskFewInfoServiceModel>

@foreach (var item in Model)
{
    <div class="row PrimeBox3" style="margin-top:5px; font-size:small; background-color:#e4e4e4;">
        @{var name = item.TaskName.Length > 50 ? (item.TaskName).Substring(0, 50) + "..." : item.TaskName;}
        <div class="col-md-5">
            <a style="color: #0366d6;" asp-controller="Tasks" asp-action="TaskDetails" asp-route-taskId="@item.Id">@name</a>
        </div>
        <div class="col-md-2">
            <label style="padding-left:10px;">@item.TaskStatusName</label>
        </div>
        <div class="col-md-1">
            <label style="padding-left:10px;">@item.TaskPriorityName</label>
        </div>
        <div class="col-md-1">
            <label style="padding-left:10px;">@(item.EndDate.HasValue ? item.EndDate.Value.Date.ToString("dd/MM/yyyy") : "")</label>
        </div>
        <div class="col-md-3" style="color: #5f9fec;">
            <div class="row" style="display: flex; justify-content: center; align-items: center;">
                <div style="min-width:50px;">
                    <a title="Коментари по задачата" asp-controller="Notes" asp-action="TaskNotesList" asp-route-taskId="@item.Id">
                        <img class="chatnotifications" src="~/png/note.png" />
                        <span class="notificationsTodayCountValue">@item.NotesCount</span>
                    </a>
                </div>
                <div style="min-width:50px;">
                    <a title="Файлове по задачата" asp-controller="TasksFiles" asp-action="TaskFilesList"
                       asp-route-taskName="@item.TaskName"
                       asp-route-taskId="@item.Id">
                        <img class="chatnotifications3" src="~/png/files.png" />
                        <span class="notificationsTodayCountValue">@item.FilesCount</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

}